{{#if error}}
<div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" {{action "closeAlert"}}>
        <span aria-hidden="true">&times;</span>
    </button>
    {{error}}
</div>
{{/if}}

<webview
        id="webview-guest"
        src="{{guest-url}}"
        style="display:inline-flex;
        width:640px;
        height:480px"
        preload="./assets/lib/click.js"
>
</webview>
