.l-browsable-guest{
  display: flex;
  flex-flow: column;
  height: 100%;
}

.l-browsable-guest-alerts{

}

.l-browsable-guest-nav-bar{

}

.l-browsable-guest-window{
  flex: 2 ;
  overflow: auto;
}

.l-browsable-guest-ide{
  flex: 2 ;
  overflow: auto;

  .ember-view{
    height: auto;
    min-height: 0;
  }
}

.l-browsable-guest-footer{

}
