<h1>Add station</h1>
<div class="row">
    <div class="col-sm-12">
        {{browsable-guest
                didNavigate="didNavigate"
                save="saveCandidate"
        }}
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-12">
        {{#link-to "stations" class="btn btn-default"}}
            Back
        {{/link-to}}
    </div>
</div>
