<div class="row">
    <div class="col">
        {{browsable-guest didNavigate="didNavigate" class="text-center" saveCandidate="saveCandidate"}}
    </div>
</div>

<br>

<div class="row">
    <div class="col">
        {{#link-to "stations" class="btn btn-secondary"}}
            Back
        {{/link-to}}
    </div>
</div>
