<div class="l-station">
    <div class="l-station-header">
        <h1>Edit <i>{{model.name}}</i></h1>
    </div>
    <div class="l-station-body">
        {{browsable-guest
                didNavigate="didNavigate"
                save="save"
                name=model.name
                url=model.url
                playPauseAction=model.playPauseAction
                stopAction=model.stopAction
                nextAction=model.nextAction
                previousAction=model.previousAction
        }}
    </div>
    <div class="l-station-footer">
        {{#link-to "stations" class="btn btn-default"}}
            Back
        {{/link-to}}
    </div>
</div>
