<div class="row">
    <div class="col-sm-12">
        {{browsable-guest
                didNavigate="didNavigate"
                save="save"
                name=model.name
                url=model.url
                playPauseAction=model.playPauseAction
                stopAction=model.stopAction
                nextAction=model.nextAction
                previousAction=model.previousAction
        }}
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-12">
        {{#link-to "stations" class="btn btn-secondary"}}
            Back
        {{/link-to}}
    </div>
</div>
