<div class="row">
    <div class="col-sm-12">
        <h2 class="text-center">{{model.name}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{play-guest class="text-center"
                stationUrl=model.url
                stationPlayPauseAction=model.playPauseAction
                stationStopAction=model.stopAction
                stationNextAction=model.nextAction
                stationPreviousAction=model.previousAction
        }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{#link-to "stations" class="btn btn-secondary"}}
            Back
        {{/link-to}}
    </div>
</div>
