<div class="row">
    <div class="col">
        <h2 class="text-center">{{model.name}}</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {{play-guest class="text-center"
                stationUrl=model.url
                stationIdName=model.idName
                stationClassName=model.className
        }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{#link-to "stations" class="btn btn-secondary"}}
            Back
        {{/link-to}}
    </div>
</div>
