<h1>{{model.name}}</h1>

<h2>Stations: </h2>
<ul>
    {{#each model.stations as |station|}}
    <li>
        {{#link-to 'player' station.id}}
            {{station.name}}
        {{/link-to}}
    </li>
    {{/each}}
</ul>

<br>

<button {{action 'addUser'}}>Add User</button>

